<section class="about-game section" id="about-game">
  <div class="about-game_container container">
    <h2 class="title-h2">About the Game</h2>
    <div class="about-game_inner">
      <div class="about-game_inner_images">
        <img
          class="about-game_inner_images_item"
          src="./img/about_game/about_img.jpg"
          alt="about image tiles"
        />
        <img
          class="about-game_inner_images_item_pc"
          src="./img/about_game/pc_image.png"
          alt="about image tiles"
        />
      </div>
      <div class="about-game_inner_text">
        <b class="about-game_inner_text_desc-bold">Super Tiles</b>
        <p class="about-game_inner_text_desc">
          is a fresh and fast-paced tile-matching game that challenges your
          brain and your reflexes. Slide colorful tiles into the perfect spot,
          create powerful combos, and clear the board in record time!
          <span style="display: block">
            Whether you're a casual player or a puzzle pro, Super Tiles will
            keep your mind sharp and your fingers busy with satisfying gameplay
            and endless levels to master. Super Tiles create powerful combos,
            and clear the board in record time!
          </span>
        </p>
      </div>
    </div>
  </div>
</section>
