<section class="faq section" id="faq">
  <div class="faq_container container">
    <h2 class="title-h2">Why Choose the Game?</h2>
    <div class="swiper swiper-faq">
      <div class="swiper-wrapper swiper-wrapper-faq">
        <div class="swiper-slide swiper-slide-faq">
          <article class="faq_article">
            <h3 class="faq_article_title">Quick & intuitive gameplay</h3>
            <img
              class="article_image"
              src="./img/faq/faq-1.jpg"
              alt="slider-1"
            />
          </article>
        </div>
        <div class="swiper-slide swiper-slide-faq">
          <article class="faq_article">
            <h3 class="faq_article_title">Colorful visuals and animations</h3>
            <img
              class="article_image"
              src="./img/faq/faq-2.jpg"
              alt="slider-1"
            />
          </article>
        </div>
        <div class="swiper-slide swiper-slide-faq">
          <article class="faq_article">
            <h3 class="faq_article_title">Free and offline-friendly</h3>
            <img
              class="article_image"
              src="./img/faq/faq-3.jpg"
              alt="slider-1"
            />
          </article>
        </div>
        <div class="swiper-slide swiper-slide-faq">
          <article class="faq_article">
            <h3 class="faq_article_title">
              Over 100 levels (and more to come!)
            </h3>
            <img
              class="article_image"
              src="./img/faq/faq-4.jpg"
              alt="slider-1"
            />
          </article>
        </div>
        <div class="swiper-slide swiper-slide-faq">
          <article class="faq_article">
            <h3 class="faq_article_title">No rush—play at your pace</h3>
            <img
              class="article_image"
              src="./img/faq/faq-5.jpg"
              alt="slider-1"
            />
          </article>
        </div>
        <div class="swiper-slide swiper-slide-faq">
          <article class="faq_article">
            <h3 class="faq_article_title">Suitable for all ages</h3>
            <img
              class="article_image"
              src="./img/faq/faq-6.jpg"
              alt="slider-1"
            />
          </article>
        </div>
      </div>
      <div class="swiper-button-prev swiper-button-prev_faq">
        <img
          src="./img/pages/btn_left.png"
          alt="arrow-left"
          class="swiper-button-prev-img"
        />
      </div>
      <div class="swiper-button-next swiper-button-next_faq">
        <img
          src="./img/pages/btn_right.png"
          alt="arrow-right"
          class="swiper-button-next-img"
        />
      </div>
    </div>
  </div>
</section>
