<section class="how-play section" id="how-play">
  <div class="how-play_container container">
    <h2 class="title-h2">How to play</h2>
    <div class="how-play_grid">
      <div class="how-play_grid_item">
        <img
          class="how-play_grid_item_image"
          src="./img/how-play/r1c2.png"
          alt="how to play image"
        />
      </div>
      <div class="how-play_grid_item">
        <p class="how-play_grid_item_text">
          Slide tiles into empty spots on the board.
        </p>
        <img
          class="how-play_grid_item_image_flex"
          src="./img/how-play/r1c1.png"
          alt="how to play image"
        />
      </div>
      <div class="how-play_grid_item">
        <p class="how-play_grid_item_text">
          Match 3 or more identical tiles in a line or group.
        </p>
        <img
          class="how-play_grid_item_image_flex"
          src="./img/how-play/r2c1.png"
          alt="how to play image"
        />
      </div>
      <div class="how-play_grid_item">
        <p class="how-play_grid_item_text">
          Advance through levels to unlock new challenges.
        </p>
        <img
          class="how-play_grid_item_image_flex"
          src="./img/how-play/r2c2.png"
          alt="how to play image"
        />
      </div>
      <div class="how-play_grid_item">
        <p class="how-play_grid_item_text">
          Trigger combos and clear the board for high scores.
        </p>
        <img
          class="how-play_grid_item_image_flex"
          src="./img/how-play/r1c3.png"
          alt="how to play image"
        />
      </div>
      <div class="how-play_grid_item">
        <p class="how-play_grid_item_text">
          Use boosters wisely when things get tight!
        </p>
        <img
          class="how-play_grid_item_image_flex"
          src="./img/how-play/r2c3.png"
          alt="how to play image"
        />
      </div>
    </div>
  </div>
</section>
