<section class="reviews section" id="reviews">
  <div class="reviews_container container">
    <h2 class="title-h2">User Reviews</h2>
    <div class="swiper swiper-reviews">
      <div class="swiper-wrapper swiper-wrapper-reviews">
        <div class="swiper-slide swiper-slide-reviews">
          <article class="reviews_article">
            <h3 class="visually-hidden">Ava T.:</h3>
            <img
              class="article_stars"
              src="./img/reviews/stars5.png"
              alt="stars 5"
            />
            <blockquote class="reviews_article_quote">
              “The perfect mix of relaxing and challenging! Can’t stop sliding
              those tiles.”
            </blockquote>
            <figure class="reviews_article_inner">
              <img src="./img/reviews/Ava.png" alt="Ava T." />
              <figcaption class="reviews_article_inner_name">
                Ava T.:
              </figcaption>
            </figure>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-reviews">
          <article class="reviews_article">
            <h3 class="visually-hidden">Diego M.:</h3>
            <img
              class="article_stars"
              src="./img/reviews/stars5.png"
              alt="stars 5"
            />
            <blockquote class="reviews_article_quote">
              “I love the combo explosions. It’s super satisfying!”
            </blockquote>
            <figure class="reviews_article_inner">
              <img src="./img/reviews/Diego.png" alt="Diego M." />
              <figcaption class="reviews_article_inner_name">
                Diego M.:
              </figcaption>
            </figure>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-reviews">
          <article class="reviews_article">
            <h3 class="visually-hidden">Ling W.:</h3>
            <img
              class="article_stars"
              src="./img/reviews/stars5.png"
              alt="stars 5"
            />
            <blockquote class="reviews_article_quote">
              “Levels get trickier but never frustrating. Great way to chill.”
            </blockquote>
            <figure class="reviews_article_inner">
              <img src="./img/reviews/Ling.png" alt="Ling W." />
              <figcaption class="reviews_article_inner_name">
                Ling W.:
              </figcaption>
            </figure>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-reviews">
          <article class="reviews_article">
            <h3 class="visually-hidden">Sophie R.:</h3>
            <img
              class="article_stars"
              src="./img/reviews/stars5.png"
              alt="stars 5"
            />
            <blockquote class="reviews_article_quote">
              “The perfect mix of relaxing and challenging! Can’t stop sliding
              those tiles.”
            </blockquote>
            <figure class="reviews_article_inner">
              <img src="./img/reviews/Sophie.png" alt="Sophie R." />
              <figcaption class="reviews_article_inner_name">
                Sophie R.:
              </figcaption>
            </figure>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-reviews">
          <article class="reviews_article">
            <h3 class="visually-hidden">Ben K.:</h3>
            <img
              class="article_stars"
              src="./img/reviews/stars4.png"
              alt="stars 4"
            />
            <blockquote class="reviews_article_quote">
              “Offline mode is a lifesaver during commutes!”
            </blockquote>
            <figure class="reviews_article_inner">
              <img src="./img/reviews/Ben.png" alt="Ben K." />
              <figcaption class="reviews_article_inner_name">
                Ben K.:
              </figcaption>
            </figure>
          </article>
        </div>
      </div>
      <div class="swiper-button-prev swiper-button-prev_reviews">
        <img
          src="./img/pages/btn_left.png"
          alt="arrow-left"
          class="swiper-button-prev-img"
        />
      </div>
      <div class="swiper-button-next swiper-button-next_reviews">
        <img
          src="./img/pages/btn_right.png"
          alt="arrow-right"
          class="swiper-button-next-img"
        />
      </div>
    </div>
  </div>
</section>
