@import url(https://fonts.googleapis.com/css?family=Nunito:regular,700);
@import url(https://fonts.googleapis.com/css?family=Fredoka:regular);
@import './reset.css';

@import './header.css';
@import './footer.css';
@import './pages.css';

@import './about.css';
@import './faq.css';
@import './how-play.css';
@import './features.css';
@import './gallery.css';
@import './hero.css';
@import './reviews.css';

@import './cookies.css';

:root {
  --main-color: #ab89ff;
  --text-color: #3d315b;
  --accent-color: #d3280d;
  --card-color: #8d72d2;
  --colortext-color: #3d315b;
  --font-family: 'Nunito', sans-serif;
  --second-family: 'Fredoka', sans-serif;
  --third-family: 'Inter', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  max-width: 375px;
  min-width: 250px;
  margin: 0 auto;
}
.section {
  margin-bottom: 80px;
  @media screen and (min-width: 1440px) {
    margin-bottom: 150px;
  }
}
.title-h2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 28px;
  @media screen and (min-width: 1440px) {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1280px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
